@keyframes none-to-left {
  from {
    right: -47vw;
  }
  to {
    right: 0;
  }
}
@keyframes bottom-to-normal {
  from {
    transform: translateY(10vw);
  }
  to {
    transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}
ul,
ol {
  list-style: none;
}
a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}
label {
  cursor: pointer;
}
/* container */
.container {
  width: 1340px;
  height: 100%;
  margin: 0 auto;
}
/* header */
.header {
  overflow: hidden;
  background: url(../img/Desktop\ -\ 1.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
}
.nav {
  display: flex;
  padding: 47px 47px 10px 0;
}
.header-icon {
  display: inline-block;
}
.nav-list {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list-item {
  margin: 0 5%;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}
.nav-list-item-link {
  color: white;
  transition: 0.2s ease-in-out;
}
.nav-list-item:hover {
  transform: translate(-2px, -2px);
}
.nav-list-item-link:hover {
  color: rgba(210, 45, 3, 1);
}
.header-inner {
  display: flex;
}
.header-inner-main-text {
  margin-top: 10%;
}
.header-inner-text {
  margin: 6% 0.3em;
  display: flex;
  flex-direction: column;
  line-height: 1.2em;
}
.heading-header-text {
  font-family: "Kenia";
  font-size: 10em;
  font-weight: 300;
  line-height: 1em;
  transition: 0.3s ease;
}
.header-inner-image {
  animation-name: bottom-to-normal;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  margin-left: auto;
  position: relative;
  display: inline-block;
}
.img-phone {
  position: relative;
  z-index: 2;
}
.img-kabel {
  position: absolute;
  top: 82%; /* Настройте под ваши изображения */
  right: 20%;
  z-index: 1;
}
.main {
  overflow: hidden;
  background: rgba(213, 48, 5, 1);
  position: relative;
}
.main-content {
  padding-top: 80px;
  height: 1000px;
}
.signature {
  font-family: "Karla";
  font-size: 30px;
  font-weight: 200;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.main-content-important {
  padding-top: 60px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 40px;
}
.main-buttons {
  margin-right: auto;
  display: flex;
  flex-direction: column; /*Надо запомнить*/
  gap: 20px;
  row-gap: 60px;
}
.main-button {
  margin-bottom: 10px;
}
.button {
  color: rgba(255, 255, 255, 1);
  font-family: Karla;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  width: 382px;
  height: 83px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5),
    -4px -4px 30px 0px rgba(255, 255, 255, 0.1);
  background: radial-gradient(
      2087.07% 134.42% at 2% 8%,
      rgba(177.4375, 62.48130798339844, 24.397655487060547, 1),
      rgba(243, 80, 26, 1) 100%
    )
    /* Предупреждение: градиент использует вращение, не поддерживаемое CSS, и может работать не так, как ожидается. */;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.button:hover {
  transform: translate(-10px, -10px);
  box-shadow: 12px 12px 12px 5px rgba(0, 0, 0, 0.7);
}
.main-content-image {
  display: inline-block;
}
.image {
  position: absolute;
  right: 0;
  top: 15vh;
  animation-name: none-to-left;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
}

.main-inner {
  display: block;
  width: 100%;
  height: 1000px;
  background: linear-gradient(180deg, rgba(213, 48, 5, 1), rgba(0, 0, 0, 1) 6%);
  padding: 83px 0;
}

.signature-inner {
  color: rgba(255, 255, 255, 1);
  font-family: "Karla";
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.main-inner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 90%;
  margin: auto;
  color: rgba(255, 255, 255, 1);
  font-family: "Karla";
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
}
.container-main-inner {
  overflow: hidden;
}
.container-main-inner-content {
  padding: 80px 0;
  width: 1340px;
  height: 100%;
  margin: 0 auto;
}
.container-main-inner-left {
  padding-left: 2vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.container-main-inner-important {
  display: flex;
  overflow: hidden;
}
.container-main-inner-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto 0;
  gap: 40px;
}
.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 60px;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    -4px -4px 4px 0px rgba(255, 255, 255, 0.1);
  transition: 0.3s ease-in;
}
.container-button:hover {
  transform: translate(-5px, -5px);
  box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, 0.25),
    -6px -6px 6px 0px rgba(255, 255, 255, 0.1);
}
.button1 {
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  box-sizing: border-box;
  text-align: center;

  background: rgba(2, 2, 2, 0.9);
}
.button2 {
  color: rgba(0, 0, 0, 1);
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  background: rgba(227, 227, 227, 1);
}
.container-main-inner-text {
  text-align: center;
}
.container-main-inner-heading-text {
  padding: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat";
  font-size: 21px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.container-main-inner-paragraph {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.container-main-inner-link {
  color: #000;
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

.footer {
  max-height: 540px;
  background: linear-gradient(180deg, rgba(213, 48, 5, 1), rgba(0, 0, 0, 1) 4%);
  padding: 5% 0;
}
.footer-list-items {
  display: flex;
  justify-content: end;
}

.footer-list-item {
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 15%;
}
.footer-list-item-heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
}
.footer-list-underheading-link {
  color: #fff;
}
.footer-inner {
  padding-top: 105px;
  font-family: "Montserrat";
}
.footer-inner-heading-text {
  font-family: "Kenia";
  font-size: 50px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 100%;
}
.copyright {
  display: flex;
  justify-content: space-between;
}
.copyright-text {
  line-height: 3vh;
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0%;
  text-align: left;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1000px;
  }
  .image {
    width: 800px;
  }
  .container-main-inner-img {
    width: 900px;
  }
  .container-main-inner-content {
    max-width: 1000px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 800px;
  }
  .image {
    width: 500px;
    top: 33vh;
  }
  .container-main-inner-img {
    width: 700px;
  }
  .container-main-inner-content {
    /* max-width: 800px; */
    margin-left: 20%;
  }
  .container-main-inner-paragraph-text {
    padding-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 600px;
  }
  .nav-list {
    margin-left: 10%;
  }
  .header-inner {
    flex-direction: column;
    justify-content: center;
  }
  .header-inner-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-inner-image {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-kabel {
    right: 22%;
  }
  .heading-header-text {
    text-align: center;
  }
  .container-main-inner-img {
    width: 500px;
  }
  .container-main-inner-important {
    flex-direction: column-reverse;
  }
  .container-main-inner-image {
    display: flex;
    justify-content: center;
  }
  .container-main-inner-text {
    width: 50%;
    margin: 0 auto;
  }
  .main-content-important {
    gap: 0;
    align-items: start;
  }
  .main-buttons {
    margin: 0 auto;
  }
  .image {
    width: 800px;
    top: 43vh;
  }
  .footer {
    height: 100%;
    padding-bottom: 20px;
    overflow: hidden;
  }
  .footer-list-items {
    justify-content: center;
    align-items: center;
  }
  .footer-list-item {
    margin: 2%;
  }
}
@media (max-width: 650px) {
  .nav {
    padding: 0;
    padding: 7% 5%;
    flex-direction: column-reverse;
  }
  .header-inner-image {
    margin-left: 6%;
  }
  .heading-header-text {
    font-family: "Kenia";
    font-size: 6em;
    font-weight: 300;
    line-height: 1em;
    transition: 0.3s ease;
  }
  .header-inner-text {
    margin: 6% 0.3em;
    display: flex;
    font-size: 13px;
    flex-direction: column;
    line-height: 1.2em;
  }
  .header-inner-main-text {
    margin-top: 0;
  }
  .header-icon {
    padding: 5%;
    text-align: center;
  }
  .phone {
    width: 250px;
  }
  .img-kabel {
    left: 47.5%;
    right: inherit;
    transform: translateX(-50%);
  }
  .kabel {
    width: 125px;
  }
  .container {
    width: 100%;
  }
  .main-buttons {
    margin: 0;
  }
  .main-content .signature .signature-text {
    padding: 0 20%;
  }
  .signature-inner-text {
    padding: 0 20%;
  }
  .image {
    width: 600px;
    top: 45vh;
  }
}
@media (max-width: 500px) {
  .nav {
    padding: 10% 8%;
  }
  .image {
    width: 400px;
  }
  .container-main-inner-img {
    width: 300px;
  }
  .button {
    width: 250px;
    font-size: 30px;
  }
  .nav-list-item {
    font-size: 15px;
  }
  .footer-inner {
    padding: 5px;
  }
  .copyright-text {
    padding: 0 5px;
    line-height: 20px;
  }
  .footer-list-item-heading {
    line-height: 20px;
  }
}
@media (max-width: 450px) and (max-height: 800px) {
  .image {
    top: 60vh;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Karla";
  src: url(../fonts/Karla-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Kenia";
  src: url(../fonts/Kenia-Regular.ttf);
}
